*.iml
.gradle
/local.properties
.idea/*
/build
/captures
.externalNativeBuild
.cxx
local.properties

# CocoaPods
Pods/

## iOS Playgrounds
timeline.xctimeline
playground.xcworkspace

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Mac OS
.DS_Store

# Kotlin native iOS generated framework
/devtools/ios/Frameworks/devtools.framework
